---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="h-[15vh] w-full bg-black text-white flex justify-between items-center px-8" >
		<h1 class="text-3xl font-bold" >DevG</h1>
		<ul class="flex gap-4" >
			<li><a href="#" class="font-semibold text-xl" >Ejemplo</a></li>
			<li><a href="#" class="font-semibold text-xl" >Ejemplo</a></li>
			<li><a href="#" class="font-semibold text-xl" >Ejemplo</a></li>
		</ul>
	</header>

	<h2>Esta es la plantilla inicial</h2>
</Layout>